<p id="notice"><%= notice %></p>

<p>
  <strong>Valoracion:</strong>
  <%= @resena.valoracion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @resena.descripcion %>
</p>

<%= link_to 'Back', turnos_path, class: "btn btn-secondary" %>